<!--<h1>Banners</h1>-->
<!--<div *ngFor="let banner of banners">-->
    <!--<h1>{{banner.title}}</h1>-->
    <!--<h2>{{banner.url}}</h2>-->
<!--</div>-->

<div>




    <ul class="heroes">
        <li *ngFor="let hero of heroes"
            (click)="on_select(hero)"
            [class.selected]="selected_hero == hero">
            <span class="badge">{{hero.id}}</span>{{hero.name}}
        </li>
    </ul>

        <!-- selected -->
    <div *ngIf="selected_hero">
        <h2>Selected: {{selected_hero.name | uppercase}}</h2>
        <button (click)="goto_detail()">View Detail</button>
    </div>

</div>
